.btn {
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    margin: 0px 4px 4px 4px;
    border-style: solid;
    border-color: white;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
}

.yes-btn {
    background-color: rgb(0, 170, 0);
    color: white;
}

.yes-btn:hover {
    background-color: #61c466;
}

.no-btn {
    background-color: rgb(218, 8, 8);
    color: white;
}

.no-btn:hover {
    background-color: #f34848;
  }

.next-btn {
    color: white;
    background-color: rgb(117, 54, 233);
}
.next-btn:hover {
    background-color: #8a19cc;
  }

.dog-img {
    max-width: 400px;
    max-height: 400px;
}

.feedback {
    font-size: 24px;
    letter-spacing: 3px;
    transition: text-shadow 0.3s ease;
}


.correct {
    color: #4CAF50;
    text-shadow:
      0 0 5px #ffffff,
      0 0 10px #9bc99c,
      0 0 20px #a2c5a4,
      0 0 40px #4CAF50;
  }
  
  .incorrect {
    color: #f44336;
    text-shadow:
      0 0 5px #ffffff,
      0 0 10px #c49f9c,
      0 0 20px #cf8e89,
      0 0 40px #f44336;
  }

.game-data {
    font-size: 18px;
    font-weight: 500;
}

.restart-btn {
    background-color: black;
    color: White;
    margin-top: 20px;
}

.note {
    font-style: italic;
}